<routes xmlns="http://camel.apache.org/schema/spring">

    <route id="agentCounter">
        <from uri="timer://foo?fixedRate=false&amp;period=20000"/>
        <to uri='jason:alice?source=dummyBob&amp;performative=achieve&amp;content=increase(35)'/>
    </route>

    <route id="finishRound">
      <from uri="jason:dummyAgent?content=message(X)"/>
      <setBody>
        <simple>signal(${exchangeProperty[X]})</simple>
      </setBody>
      <to uri='jacamo-artifact:dummyArt?isSignal=true&amp;workspace=room'/>
    </route>

    <route id="updatingProperty">
      <from uri="jacamo-artifact:dummyArt?operation=updateProperty&amp;args=(Val)&amp;workspace=room"/>
      <setBody>
        <simple>propertyFoo(${exchangeProperty[Val]})</simple>
      </setBody>
      <to uri='jacamo-artifact:dummyArt?workspace=room'/>
    </route>

    <route id="artifactTicker">
      <from uri="timer://foo?fixedRate=false&amp;period=5000"/>
      <to uri='jacamo-artifact:dummyArt?isSignal=true&amp;property=tick'/>
    </route>



    <!-- <route id="simpleOp">
        <from uri="jacamo-artifact:dummyArt?operation=operate&amp;args=(Val)"/>
        <setBody>
          <simple>message(${exchangeProperty[Val]})</simple>
        </setBody>
        <to uri='jacamo-artifact:dummyArt?isSignal=false'/>
    </route>

    <route id="roomOp">
        <from uri="jacamo-artifact:dummyArt?operation=operateRoom&amp;args=(Val)&amp;workspace=room"/>
        <setBody>
          <simple>message(${exchangeProperty[Val]})</simple>
        </setBody>
        <to uri='jacamo-artifact:dummyArt?isSignal=false&amp;workspace=room'/>
    </route>

    <route id="kitchenOp">
        <from uri="jacamo-artifact:dummyArt?operation=operateKitchen&amp;args=(Val)&amp;workspace=kitchen"/>
        <setBody>
          <simple>message(${exchangeProperty[Val]})</simple>
        </setBody>
        <to uri='jacamo-artifact:dummyArt?isSignal=false&amp;workspace=kitchen'/>
    </route>

    Signals

    <route id="simpleSignal">
      <from uri="jacamo-artifact:dummyArt?operation=signalize&amp;args=(Name)"/>
      <setBody>
        <simple>${exchangeProperty[Name]}</simple>
      </setBody>
      <to uri='jacamo-artifact:dummyArt?isSignal=true'/>
    </route>

    <route id="roomSignal">
      <from uri="jacamo-artifact:dummyArt?operation=signalizeRoom&amp;args=(Name)"/>
      <setBody>
        <simple>${exchangeProperty[Name]}</simple>
      </setBody>
      <to uri='jacamo-artifact:dummyArt?isSignal=true&amp;workspace=room'/>
    </route>

    <route id="kitchenSignal">
      <from uri="jacamo-artifact:dummyArt?operation=signalizeKitchen&amp;args=(Name)"/>
      <setBody>
        <simple>${exchangeProperty[Name]}</simple>
      </setBody>
      <to uri='jacamo-artifact:dummyArt?isSignal=true&amp;workspace=kitchen'/>
    </route> -->

</routes>
